{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">Dont do What Everybody Is Doing</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello guys, I did littile bit of research about all the gretest battel ever hapened on earth , and i tried to
          tell you all about them.
          Acording to me Wars are never worth of humen life ,many people died during those wars. Acording to new work daily magzine
           , in world war 2 approx 7carore peoples died. They are not only soldier many of them are civilitians.
              As we all know ADLOF HITLER was the main reason of world war 2.
          </p>
          <p>ALLIED POWER lost world war 1 , and ADOLF HITLER was also a german soldier in world war 1.you
            can say world war 1 one was the ride of ADOLF HITER .After world war 1 somehow hitler takes control over german army
            and also on the country. That was the start of WORLD WAR||.</p>

          <p>After all the tragedy germany lost in world war , there are many reason for the defeat of german in WORLD WAR ||
            ,some unpllanned strategy and some baseless attacks are the main reason of their defeat.
            First ever nuclear blast are also held in world war japanies were not ready to stop battle so america drop two atom bombs in japan ,
            one in NAGASHAKI and another HEROSHIMA
            . I cant say that was right way to stop japan but still it hapend thats al afrom me.</p>
        </div>
      </div>
    </div>

   {% endblock %}
